![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# TFM - Impacto de la alimentación sobre la salud de las personas

## Tabla de Contenidos

* [A. Introduccion](#introduction)
* [B. Importar Librerias](#libraries)
* [C. Importar datos](#data)

## A. Introducción <a class="anchor" id="introduction"></a>

## B. Importar Librerías<a class="anchor" id="libraries"></a>

In [14]:
import os
import sys
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt


import seaborn as sns
from sklearn import preprocessing

import pickle

## C. Importar datos<a class="anchor" id="data"></a>

### Datos consumos por CCAA

In [317]:
PATH_COMUNIDADES = 'data/comunidades/'

In [318]:
# Leemos los nombres de los ficheros
paths_comunidades = [path for path in os.listdir(PATH_COMUNIDADES) if path.endswith('.xlsx')]

# Creamos una lista para ir añadiendo los dataframes leidos
dfs = list()

for path_comunidad in paths_comunidades:
    # Extraemos el nombre de la comunidad
    nombre_comunidad = os.path.splitext(path_comunidad)[0]

    # Leemos el fichero, reseteamos el index y le cambiamos el nombre de la columna a ID
    fichero = pd.read_excel('./data/comunidades/'+path_comunidad).reset_index(drop=True).rename(columns={'Unnamed: 0': 'ID'})

    # Descartamos las filas donde el la columna BIO no es nula y asignamos el nombre de la comunidad a una nueva columna.
    fichero_sin_bio = fichero[fichero['SEGMENTO BIO'].isna()].reset_index(drop=True).assign(COMUNIDAD=nombre_comunidad)

    # Añadimos el fichero leido a nuestra lista de dataframes
    dfs.append(fichero_sin_bio)

# Montamos el dataframe final
df_comunidades = pd.concat(dfs, ignore_index=True)

# Eliminamos la columna SEGMENTO BIO
df_comunidades.drop('SEGMENTO BIO', axis=1, inplace=True)

# Cambiamos el orden de la columna COMUNIDAD
cols = df_comunidades.columns.tolist()
cols = cols[:5] + cols[-1:] + cols[5:-1]
df_comunidades = df_comunidades[cols]

In [319]:
df_comunidades.head(20)

,ID,SECTOR,SECCION,CATEGORIA,FAMILIA,COMUNIDAD,SEMANA 40-16,SEMANA 41-16,SEMANA 42-16,SEMANA 43-16,...,SEMANA 34-19,SEMANA 35-19,SEMANA 36-19,SEMANA 37-19,SEMANA 38-19,SEMANA 39-19,SEMANA 40-19,SEMANA 41-19,SEMANA 42-19,SEMANA 43-19
0,TOTAL PGC,NaN,NaN,NaN,NaN,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,2652.71,2853.52,2699.68,2703.08,2484.19,2853.67,2844.06,2412.15,2559.18,2647.53
1,ALIM. Y BEBIDAS,ALIM. Y BEBIDAS,NaN,NaN,NaN,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,1328.36,1421.87,1364.16,1405.32,1269.16,1457.10,1477.37,1288.87,1375.99,1442.49
2,ALIM.SECA,ALIM. Y BEBIDAS,ALIM.SECA,NaN,NaN,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,704.00,782.74,760.74,791.09,717.49,829.03,829.07,739.01,813.17,891.25
3,ACEITE,ALIM. Y BEBIDAS,ALIM.SECA,ACEITE,NaN,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,60.80,72.97,67.83,71.55,62.32,73.07,76.68,61.45,60.28,63.69
4,GIRASOL..,ALIM. Y BEBIDAS,ALIM.SECA,ACEITE,GIRASOL..,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,18.18,20.78,20.41,20.16,18.68,21.06,22.47,16.94,17.49,19.44
5,OLIVA,ALIM. Y BEBIDAS,ALIM.SECA,ACEITE,OLIVA,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,39.07,48.58,44.35,47.56,40.15,47.73,50.83,41.63,39.63,41.40
6,RESTO ACEITES,ALIM. Y BEBIDAS,ALIM.SECA,ACEITE,RESTO ACEITES,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,3.54,3.61,3.06,3.84,3.49,4.29,3.39,2.88,3.17,2.85
7,ADITIVOS COCINA,ALIM. Y BEBIDAS,ALIM.SECA,ADITIVOS COCINA,NaN,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,13.87,15.52,14.98,16.48,15.77,16.12,16.09,14.38,14.43,17.00
8,ADEREZOS,ALIM. Y BEBIDAS,ALIM.SECA,ADITIVOS COCINA,ADEREZOS,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,0.28,0.25,0.25,0.27,0.22,0.31,0.24,0.19,0.18,0.21
9,ESPECIAS,ALIM. Y BEBIDAS,ALIM.SECA,ADITIVOS COCINA,ESPECIAS,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,5.53,6.47,6.14,6.45,6.15,6.57,6.62,6.22,6.01,8.11
10,HARINAS/SEMOLAS Y TAPIOCAS,ALIM. Y BEBIDAS,ALIM.SECA,ADITIVOS COCINA,HARINAS/SEMOLAS Y TAPIOCAS,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,4.05,4.82,4.65,5.93,5.72,5.04,5.13,4.42,4.78,5.28
11,POTENCIADORES DE SABOR,ALIM. Y BEBIDAS,ALIM.SECA,ADITIVOS COCINA,POTENCIADORES DE SABOR,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,0.12,0.16,0.18,0.13,0.15,0.16,0.21,0.14,0.13,0.14
12,SAL,ALIM. Y BEBIDAS,ALIM.SECA,ADITIVOS COCINA,SAL,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,1.77,1.76,1.76,1.59,1.63,1.97,1.91,1.54,1.64,1.64
13,VINAGRE,ALIM. Y BEBIDAS,ALIM.SECA,ADITIVOS COCINA,VINAGRE,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,2.13,2.06,1.99,2.10,1.91,2.07,1.97,1.87,1.69,1.62
14,ALIMENTOS INFANTILES,ALIM. Y BEBIDAS,ALIM.SECA,ALIMENTOS INFANTILES,NaN,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,24.46,23.95,24.94,23.72,21.15,22.69,22.92,19.89,20.91,19.51
15,LECHE INFANTIL,ALIM. Y BEBIDAS,ALIM.SECA,ALIMENTOS INFANTILES,LECHE INFANTIL,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,10.73,9.71,10.65,10.65,9.62,9.48,9.75,8.46,9.58,8.76
16,PAPILLAS,ALIM. Y BEBIDAS,ALIM.SECA,ALIMENTOS INFANTILES,PAPILLAS,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,3.35,3.74,4.18,3.67,3.28,3.50,3.29,3.12,2.98,2.64
17,PLATOS INFANTILES,ALIM. Y BEBIDAS,ALIM.SECA,ALIMENTOS INFANTILES,PLATOS INFANTILES,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,10.39,10.50,10.11,9.40,8.26,9.71,9.89,8.31,8.34,8.11
18,ALIMENTOS MASCOTAS,ALIM. Y BEBIDAS,ALIM.SECA,ALIMENTOS MASCOTAS,NaN,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,29.62,35.18,34.13,41.25,31.88,35.50,34.67,33.26,31.25,33.77
19,CUIDADO ANIMALES,ALIM. Y BEBIDAS,ALIM.SECA,ALIMENTOS MASCOTAS,CUIDADO ANIMALES,Ceuta_y_Melilla,0.0,0.0,0.0,0.0,...,2.71,3.16,3.02,3.03,2.95,3.20,3.20,2.67,2.82,2.79

### Datos población por CCAA

In [329]:
PATH_POBLACION = './data/poblacion/'

In [330]:
df_poblacion = pd.read_excel(PATH_POBLACION+'poblacion_comunidades.xlsx', skiprows=1)

In [331]:
df_poblacion

                CC.AA.     2016     2017     2018     2019     2020
0      Ceuta_y_Melilla   170545   171079   171528   171264   171278
1             La_Rioja   315794   315381   315675   316798   313914
2           Pais_Vasco  2189534  2194158  2199088  2207776  2220504
3              Navarra   640647   643234   647554   654214   661197
4               Murcia  1464847  1470273  1478509  1493898  1511251
5               Madrid  6466996  6507184  6578079  6663394  6779888
6              Galicia  2718525  2708339  2701743  2699499  2701819
7          Extremadura  1087778  1079920  1072863  1067710  1063987
8         C_Valenciana  4959968  4941509  4963703  5003769  5057353
9            Catalunya  7522596  7555830  7600065  7675217  7780479
10  Castilla_La_Mancha  2041631  2031479  2026807  2032863  2045221
11     Castilla_y_Leon  2447519  2425801  2409164  2399548  2394918
12           Cantabria   282988   580295   580229   581078   582905
13            Canarias  2101924  2108121  2127685  2153389  2175952
14            Baleares  1107220  1115999  1128908  1149460  1171543
15            Asturias  1042608  1034960  1028244  1022800  1018784
16              Aragon  1308563  1308750  1308728  1319291  1329391
17           Andalucia  8388107  8379820  8384408  8414240  8464411

### Datos diabetes por CCAA

In [326]:
PATH_ENFERMEDADES = './data/enfermedades/'

In [327]:
df_diabetes = pd.read_excel(PATH_ENFERMEDADES + 'diabetes.xlsx', skiprows=1)

In [328]:
df_diabetes

                CC.AA.   2016   2017   2018   2019   2020
0      Ceuta_y_Melilla  50.36  35.33  27.14  20.33  47.11
1             La_Rioja  15.88  15.51  19.18  15.20  15.82
2           Pais_Vasco  15.19  13.03  15.14  15.07  16.65
3              Navarra  20.41  20.21  16.13  15.77  16.34
4               Murcia  20.92  25.17  21.24  22.40  30.91
5               Madrid  10.90  10.49  10.23   8.28  10.03
6              Galicia  16.32  14.40  12.66  11.08  12.88
7          Extremadura  19.58  17.68  17.88  16.88  22.17
8         C_Valenciana  19.39  20.06  25.27  25.50  28.49
9            Catalunya  19.32  20.81  19.91  18.47  21.28
10  Castilla_La_Mancha  22.59  23.78  18.72  17.36  21.38
11     Castilla_y_Leon  20.69  18.90  19.46  19.52  25.20
12           Cantabria   5.65   9.64  13.06  14.83  18.95
13            Canarias  28.82  24.13  23.11  19.31  20.00
14            Baleares  25.55  28.97  24.07  24.66  22.35
15            Asturias  18.63  16.32  19.93  18.04  21.08
16              Aragon  14.16  23.98  20.84  21.21  20.91
17           Andalucia  19.88  21.62  20.95  20.82  23.66

# 1. Análisis exploratorio

In [234]:
lista_sectores = list(df_comunidades[~df_comunidades['SECTOR'].isna()]['SECTOR'].unique())
lista_secciones = list(df_comunidades[~df_comunidades['SECCION'].isna()]['SECCION'].unique())
lista_categorias = list(df_comunidades[~df_comunidades['CATEGORIA'].isna()]['CATEGORIA'].unique())
lista_familias = list(df_comunidades[~df_comunidades['FAMILIA'].isna()]['FAMILIA'].unique())

In [229]:
len(lista_sectores), len(lista_secciones), len(lista_categorias), len(lista_familias)

(3, 11, 95, 414)

In [241]:
# Copiamos esta lista para modificarla
lista_sectores_diabetes = lista_sectores.copy()

# Eliminamos los sectores que no están relacionados con la diabetes
lista_sectores_diabetes.remove('DROGUERIA Y PERFUMERIA')
lista_sectores_diabetes

['ALIM. Y BEBIDAS', 'PROD.FRESCOS']

In [254]:
# Secciones dentro de lista_sectores_diabetes
lista_secciones_sectores_diabetes = list(df_comunidades.loc[df_comunidades['SECTOR'].isin(lista_sectores_diabetes), 'SECCION'].unique())[1:]

# Copiamos la lista de los secciones de los sectores relacionados con la diabetes
lista_secciones_diabetes = lista_secciones_sectores_diabetes.copy()

# Creamos una lista de las secciones a eliminar
secciones_sin_diabetes = ['CONSERVAS', 'CHARCUTERIA', 'PL. COCINADOS Y PRECOCINADOS', 'QUESOS']

for i in range(len(secciones_sin_diabetes)):
    lista_secciones_diabetes.remove(secciones_sin_diabetes[i])

# Lista de las secciones relacionadas con la diabetes
lista_secciones_diabetes

['ALIM.SECA', 'BEBIDAS', 'LECHE Y BATIDOS', 'CONGELADOS', 'DERV.LACTEOS']

In [307]:
# Categorias de las secciones en lista_secciones_diabetes
lista_categorias_secciones_diabetes = list(df_comunidades.loc[df_comunidades['SECCION'].isin(lista_secciones_diabetes), 'CATEGORIA'].unique())[1:]

# Copiamos la lista de los categorias de las secciones relacionados con la diabetes
lista_categorias_diabetes = lista_categorias_secciones_diabetes.copy()

# Creamos una lista de las categorias a eliminar
categorias_sin_diabetes = [
    'ACEITE', 'ADITIVOS COCINA', 'ALIMENTOS INFANTILES', 'ALIMENTOS MASCOTAS', 'APERITIVOS', 'ARROZ', 'CAFES', 'DIETETICOS', 'FRUTOS SECOS',
    'INFUSIONES', 'LEGUMBRES SECAS', 'PANADERIA INDUSTRIAL', 'PASTAS', 'SOPAS Y DESHIDRATADOS', 'AGUAS', 'CERVEZA', 'ESPUMOSOS', 'VINOS',
    'LECHE LIQUIDA Y BEBIDAS VEGETALES', 'PESCADO CONGELADO', 'PESCADO PREPARADO CONGELADO', 'PLATOS PREPARADOS CONGELADOS', 'VERDURAS CONGELADAS',
    'MANTEQUILLA', 'MARGARINA', 'QUESO TIPO PETIT'
]

for i in range(len(categorias_sin_diabetes)):
    lista_categorias_diabetes.remove(categorias_sin_diabetes[i])

# Lista de las categorias relacionadas con la diabetes
lista_categorias_diabetes

['AZUCAR Y EDULCORANTES',
 'BOLLERIA INDUSTRIAL',
 'CACAO',
 'CEREALES DESAYUNO',
 'CHOCOLATES',
 'DULCES NAVIDENOS',
 'GALLETAS',
 'GOLOSINAS',
 'REPOSTERIA',
 'SALSAS',
 'BEBIDAS ALCOHOLICAS',
 'BEBIDAS REFRESCANTES',
 'ZUMOS',
 'BATIDOS',
 'HORCHATA.',
 'LECHE NO LIQUIDA',
 'HELADOS',
 'OTROS CONGELADOS',
 'NATA',
 'POSTRES PREPARADOS',
 'YOGURES']

In [316]:
# Familias de alimentos de las categorias en lista_categorias_diabetes
lista_familias_categorias_diabetes = list(df_comunidades.loc[df_comunidades['CATEGORIA'].isin(lista_categorias_diabetes), 'FAMILIA'].unique())[1:]

# Copiamos la lista de las familias de alimentos de las categorias relacionados con la diabetes
lista_familias_diabetes = lista_familias_categorias_diabetes.copy()

# Creamos una lista de las categorias a eliminar
famlias_sin_diabetes = [
    'EDULCORANTE', 'LEVADURA', 'L.EVAPORADA', 'L.POLVO', 'BASES PIZZA', 'CHURROS', 'FRUTAS', 'HIELO', 'HOJALDRES MASAS RELLENAS', 'HOJALDRES SIN RELLENAR',
    'NATA', 'YOGUR NATURAL'
]

for i in range(len(famlias_sin_diabetes)):
    lista_familias_diabetes.remove(famlias_sin_diabetes[i])

# Lista de las categorias relacionadas con la diabetes
len(lista_familias_diabetes)

120